/*************************柱状*******************************/

.echarts3D-Bar-Info-Window {
  width: 200px;
  background-color: #fff;
  z-index: 2;
  position: fixed;
  // top: 100px;
  // right: 10px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 6px;

  .echarts3D-Bar-Info-Window-Title {
    font-size: 16px;
    color: #333;
    padding-bottom: 5px;
  }

  .echarts3D-Bar-Info-Window-Box {
    .echarts3D-Bar-Info-Window-Item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 5px 0;

      .echarts3D-Bar-Info-Window-Item-Label {
        display: flex;
        align-items: center;

        .echarts3D-Bar-Info-Window-Item-Spot {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 5px;
        }

        .echarts3D-Bar-Info-Window-Item-Text {
          font-size: 14px;
          color: #666;
        }
      }

      .echarts3D-Bar-Info-Window-Item-Value {
        font-size: 14px;
        font-weight: bold;
        color: #333;
      }
    }
  }

  .echarts3D-Bar-Info-Window-triangle {
    // // 下三角
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // border: 8px solid transparent;
    // border-top-color: #fff;
    // border-bottom: 0;
    // margin: 0 0 -8px -8px;

    // 左下三角
    position: absolute;
    bottom: 0;
    left: 30px;
    border: 16px solid transparent;
    border-top-color: #fff;
    border-bottom: 0;
    margin: 0 0 -16px -16px;
    border-left: 0;
    // //右下三角
    // position: absolute;
    // bottom: 0;
    // left: 50%;
    // border: 34px solid transparent;
    // border-top-color: #0094ff;
    // border-bottom: 0;
    // margin: 0 0 -34px -34px;
    // border-right: 0;
  }
}



/*************************水球*******************************/
@keyframes water-waves {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.ball {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  width: 200px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;

  .water {
    position: absolute;
    width: 200%;
    height: 200%;
    animation: water-waves linear infinite;

    &.water1 {
      background-color: #33cfff;
      top: 40%;
      left: -25%;
      opacity: 0.7;
      border-radius: 40%;
      animation-duration: 5s;
    }

    &.water2 {
      background-color: #0eaffe;
      top: 45%;
      left: -35%;
      border-radius: 35%;
      opacity: 0.5;
      animation-duration: 7s;
    }

    &.water3 {
      top: 50%;
      left: -35%;
      opacity: 0.3;
      background-color: #0f7ae4;
      border-radius: 33%;
      animation-duration: 11s;
    }
  }
}
